.container {
    height: 600px;
    width: 600px;
    border: 2px solid black;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.square {
    height: 100px;
    width: 100px;
    margin: 50px;
}
.red {
    background-color: darkred;
}
.pink {
    background-color: pink;
}
.blue {
    background-color:darkblue
}
.green {
    background-color: green;
}