body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    margin: 0;
}
table {
    border-spacing: 0px;
    border: 1px solid #444;

}
td, th {
    border: 1px solid #444;
    min-width: 100px;
}
td {
    padding: 3px 40px 3px 10px;
}

.title-content {
    text-decoration: underline;
}
.separator-right {
    background-color: darkblue;
    height: 5px;
    margin-top: 30px;
}
.separator-left {
    background-color: white;
    height: 5px;
    margin-top: 30px;
}
#blockmain {
    display:flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 25px #000000;
    border: 1px solid #444;
}
#block-left {
    display:flex;
    flex-direction: column;
    width: 30%;
    float: left;
    padding: 50px;
    background-color: darkblue;
    color: white;
}  
#block-right {
    width: 70%;
    height: 100%;
    float: right;
    padding: 50px;
}  
#title-doc {
    text-align: center;
}
#contact-data {
    margin-top: 50px;
}
#contact-data p {
    padding: 10px 0px;
}
#name{
    margin-bottom: 0px;
    font-size: 50px;
}
#occupation {
    margin-top: 0px;
    font-size: 30px;
}
#photo img {
    width: 250px;
    border-radius: 100%;
}
#photo {
   margin: 0 auto;
}